/* Global Styles */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f7f6;
    color: #333;
    scroll-behavior: smooth; /* Smooth scrolling for anchor links */
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

.container {
    width: 50%;
    margin: 0 auto;
}

/* Header Styling */
header {
    background-color: #0044cc;
    color: white;
    padding: 50px 0;
    text-align: center;
}

header h1 {
    font-size: 3em;
    font-weight: 700;
    margin: 0;
}

header p {
    font-size: 1.2em;
    font-weight: 400;
    margin-top: 10px;
}

/* Navigation Bar */
.nav-bar {
    background-color: #0044cc;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 15px;
    font-size: 1.1em;
}

.nav-bar a:hover {
    background-color: #0033a0;
    border-radius: 5px;
}

/* Section Styling */
section {
    padding: 5px 0;
    margin-bottom: 5px;
}

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
    text-decoration: underline;
}

/* Work Experience */
.job ul {
    list-style-type: disc;
    padding-left: 20px;
}

.job li {
    margin: 5px 0;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}

/* Link Styling */
a {
    color: #0044cc;
    text-decoration: none;
    margin: 10px;
}

a:hover {
    text-decoration: underline;
}

.certification-item {
    display: flex;
    /* Aligns text and image side by side */
    align-items: center;
    /* Vertically centers the image with the text */
    gap: 15px;
    /* Adds space between the text and the image */
}

.certification-img {
    vertical-align: middle;
    /* Ensures the image is aligned in the middle with the text */
}